{% import '_includes/forms.twig' as forms %}
{% set children = element.getChildren().status(null).all() %}

<div class="field family-tree">
    <div class="heading">
        <label>{{ "Children"|t('family-tree') }}</label>
    </div>
    <div class="input ltr flex">
        {{ forms.elementSelect({
            elementType: "craft\\elements\\Entry",
            single:false,
            jsClass: 'Craft.AssetSelectInput',
            elements: children,
            allowAdd: false,
            allowRemove: false,
            sortable: false
        }) }}

        <a href="{{ currentSite.baseUrl ~ "/" ~ cpTrigger ~ "/" ~ elementType ~ "/" ~ sectionHandle ~ "/new?site=" ~ currentSite.handle ~ "&parentId=" ~ element.id }}{{ entryTypeId is defined ? "&typeId=" ~ entryTypeId }}">
            <button type="button" class="btn add icon dashed wrap" aria-label="Choose" aria-describedby="parentId-label" tabindex="0">
                {{ "Add child"|t('family-tree') }}
            </button>
        </a>
    </div>
</div>